<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>自定义分辨率</string>
		<key>Custom</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>勾线</string>
		<key>Auto</key>
		<true/>
	</dict>
	<dict>
		<key>Height</key>
		<integer>1920</integer>
		<key>Name</key>
		<string>9:16</string>
		<key>Width</key>
		<integer>1080</integer>
	</dict>
	<dict>
		<key>Height</key>
		<integer>1440</integer>
		<key>Name</key>
		<string>3:4</string>
		<key>Width</key>
		<string>1080</string>
	</dict>
	<dict>
		<key>Height</key>
		<integer>1080</integer>
		<key>Name</key>
		<string>1:1</string>
		<key>Width</key>
		<integer>1080</integer>
	</dict>
	<dict>
		<key>Height</key>
		<integer>810</integer>
		<key>Name</key>
		<string>4:3</string>
		<key>Width</key>
		<integer>1080</integer>
	</dict>
	<dict>
		<key>Height</key>
		<integer>607</integer>
		<key>Name</key>
		<string>16:9</string>
		<key>Width</key>
		<integer>1080</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>屏幕</string>
		<key>Screen</key>
		<true/>
	</dict>
	<dict>
		<key>Height</key>
		<real>4320</real>
		<key>Name</key>
		<string>条漫</string>
		<key>Width</key>
		<integer>1080</integer>
	</dict>
</array>
</plist>
